.game-card, .prompt-card {
    width: 100%;
    height: calc(100% - 1rem);

    @media (min-width: 700px) {
        width: 340px;
    }
}

.footer-col {
    padding-left: 0;
    padding-right: 0;

    @media (min-width: 500px) {
        padding: auto;
    }
}

html.dark footer .text-muted {
    color: #ddd !important;
}

html.dark .multi-select * {
    background-color: transparent;
    color: #ddd;
}

html.dark .multi-select .dropdown-content *:not([type='input']) {
    background-color: #222;
    color: #ddd !important;
}